:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-rgb-30-30-30: rgba(30, 30, 30, 1);
  --text-rgb-12-12-13: rgba(12, 12, 13, 1);
  --text-rgb-245-245-245: rgba(245, 245, 245, 1);
  --text-rgb-117-117-117: rgba(117, 117, 117, 1);
}

.text-rgb-30-30-30 {
  color: var(--text-rgb-30-30-30);
}

.text-rgb-12-12-13 {
  color: var(--text-rgb-12-12-13);
}

.text-rgb-245-245-245 {
  color: var(--text-rgb-245-245-245);
}

.text-rgb-117-117-117 {
  color: var(--text-rgb-117-117-117);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-image {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  height: auto;
}

.logo-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.block-3 {
@media (max-width: 1440px) {
  .block-3 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .block-3 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.navigation-pill-7 {
@media (max-width: 1440px) {
  .navigation-pill-7 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-7 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.navigation-pill-9 {
@media (max-width: 1440px) {
  .navigation-pill-9 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-9 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.text-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.navigation-pill-11 {
@media (max-width: 1440px) {
  .navigation-pill-11 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-11 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  border-radius: 8px;
}

.navigation-pill-list-6 {
@media (max-width: 1440px) {
  .navigation-pill-list-6 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-list-6 {
    gap: 16px;
  }
}
@media (max-width: 1440px) {
  .navigation-pill-list-6 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .navigation-pill-list-6 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.header-2 {
@media (max-width: 1440px) {
  .header-2 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .header-2 {
    gap: 24px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 32px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -3%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-12-12-13);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 32px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-12-12-13);
}

.text-content-title-14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-245-245-245);
}

.button-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(44, 44, 44, 1);
  border: 1px solid rgba(44, 44, 44, 1);
  border-radius: 8px;
}

.button-group-17 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.hero-image-13 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 160px 24px 160px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(216, 222, 233, 1);
}

.image-21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 42.66666666666667%;
  width: 100%;
  height: auto;
}

.image-22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 42.66666666666667%;
  width: 100%;
  height: auto;
}

.panel-image-double-20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  padding: 64px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.800000011920929;
}

.text-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-content-heading-24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.info-29 {
@media (max-width: 1440px) {
  .info-29 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .info-29 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-32 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-31 {
@media (max-width: 1440px) {
  .body-31 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-31 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-28 {
@media (max-width: 1440px) {
  .card-28 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-28 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-28 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-28 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
}

.icon-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.info-36 {
@media (max-width: 1440px) {
  .info-36 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .info-36 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-39 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-38 {
@media (max-width: 1440px) {
  .body-38 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-38 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-35 {
@media (max-width: 1440px) {
  .card-35 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-35 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-35 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-35 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
}

.icon-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.info-43 {
@media (max-width: 1440px) {
  .info-43 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .info-43 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-46 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-45 {
@media (max-width: 1440px) {
  .body-45 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-45 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-42 {
@media (max-width: 1440px) {
  .card-42 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-42 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-42 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-42 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
}

.icon-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.info-50 {
@media (max-width: 1440px) {
  .info-50 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .info-50 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-53 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-52 {
@media (max-width: 1440px) {
  .body-52 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-52 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-49 {
@media (max-width: 1440px) {
  .card-49 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-49 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-49 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-49 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
}

.icon-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.info-57 {
@media (max-width: 1440px) {
  .info-57 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .info-57 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-60 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-59 {
@media (max-width: 1440px) {
  .body-59 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-59 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-56 {
@media (max-width: 1440px) {
  .card-56 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-56 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-56 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-56 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
}

.icon-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.info-64 {
@media (max-width: 1440px) {
  .info-64 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .info-64 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-67 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-66 {
@media (max-width: 1440px) {
  .body-66 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .body-66 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 160px;
}

.card-63 {
@media (max-width: 1440px) {
  .card-63 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .card-63 {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .card-63 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card-63 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 240px;
}

.cards-27 {
@media (max-width: 1440px) {
  .cards-27 {
    gap: 64px;
  }
}

@media (max-width: 768px) {
  .cards-27 {
    gap: 64px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 89.33333333333333%;
}

.card-grid-icon-23 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 64px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.icon-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3.5px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.figma-72 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.title-71 {
  width: 100%;
}

.text-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-strong-76 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.title-75 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px 16px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-117-117-117);
}

.text-link-list-74 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-strong-81 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.title-80 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px 16px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-link-list-item-83 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-link-list-item-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 139.9999976158142%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-30-30);
}

.text-link-list-item-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-link-list-79 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.footer-70 {
@media (max-width: 1440px) {
  .footer-70 {
    gap: 24px;
  }
}

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px 32px 160px 32px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(217, 217, 217, 1);
}

.landing-page-1 {
@media (max-width: 1440px) {
  .landing-page-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .landing-page-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
